<!doctype html>

<html>
<!-- Headers -->
<head>
  <meta charset="utf-8">
  <meta name="keywords" content=""/>
  <meta name="author" content="">
  <meta name="Description" content="">
  <title></title>

  <!--JavaScript Scripts: -->

  <!-- Stylesheet: -->
  <link rel= "stylesheet" type= "text/css" href= "../css/stylesheet.css">

  <!-- Fonts: -->


  <!--Favicon: -->
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />

  <!-- Icon Sheet: -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!--Google Analytics code: -->


  <!-- JQuery Library: -->

</head>

<!-- Begin Body -->
<body>

<!-- Header: -->
<header>

</header>



<!-- Footer -->
<footer>
  <!-- copyright: -->
  <p class="copyright">
    © mrmikeman38 - 2019
  </p>


</footer>

</body>
</html>
